<!-- /navigation -->
<div class="w3layouts-banner-1" style="position: relative;">
    <div class="w3ls-heading" style="position:absolute;top:50%;left:50%;transform: translate(-50%,10%);">
        <h2 class="h-two">Our Team</h2>
        <!-- <p class="sub two"></p> -->
      </div>
</div>
<div class="team">
    <div class="container">              
      <!-- <div class="w3ls-heading">
        <h2 class="h-two">Our Team</h2>
        <p class="sub two"></p>
      </div> -->
      <div class="agile-team-grids">
        <div class="col-sm-3 team-grid">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <img height="300px" src="assets/images/t1.jpg" alt="" />
              </div>
              <div class="back">
                <h4>Kanika Dhupar</h4>
                <p style="text-align: center;">Managing Director (M.Com)</p>
                <div class="w3l-social">
                  <ul>
                    <li><a href="https://www.facebook.com/kanika.kochhar.90" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>              
            </div>            
          </div>  
          <p><b>Ms. Kanika Dhupar </b> is Managing Director of the company. She is a Post graduate in Commerce and has a vast experience of dealing in Accounting and Financial solutions. She is handling the corporate affairs of the company.</p>
        </div>
        <div class="col-sm-3 team-grid">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <img height="300px" src="assets/images/t2.jpg" alt="" />
              </div>
              <div class="back">
                <h4>Megha Aggarwal</h4>
                <p style="text-align: center;">Post Graduate in Applied Sciences</p>
                <div class="w3l-social">
                  <ul>
                    <li><a href="https://www.facebook.com/megha.aggarwal.355" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/megha.aggarwal.355" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p><b>Ms. Megha Aggarwal</b> is a Post Graduate in Applied Sciences and is expert in managing a large scale industrial unit. She has 10 years of experience in the Education Industry.</p>
        </div>
        <div class="col-sm-3 team-grid">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <img height="300px" src="assets/images/t3.jpg" alt="" />
              </div>
              <div class="back">
                <h4>Gaurav Aggarwal</h4>
                <p style="text-align: center;">B.Com, FCA, CPA (USA)</p>
                <div class="w3l-social">
                  <ul>
                    <li><a href="https://www.facebook.com/gaurav.aggarwal.92798" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p><b>Mr. Gaurav Aggarwal</b> is an Indian Chartered Accountant by Profession. He is a qualified CPA (USA) and is an expert in Taxation i.e. Direct and Indirect Taxes in India and International Transactions and in accounting and related fields. He has completed his Chartered Accountancy in 2000 and CPA (USA) in 2017 and is doing certification and other related work in taxation and accountancy since 2000.
            <br><b>CA Membership No.098347 <br>AICPA membership no. 255423531</b></p>
        </div>
        <div class="col-sm-3 team-grid">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <img height="300px" src="assets/images/t4.jpg" alt="" />
              </div>
              <div class="back">
                <h4>Nikhil Dhupar</h4>
                <p>B.Com, FCA, CPA (USA)</p>
                <div class="w3l-social">
                  <ul>
                    <li><a href="https://www.facebook.com/nikhil.dhupar" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p><b>Mr. Nikhil Dhupar</b> is an Indian Chartered Accountant by profession. He also qualified CPA (USA) and is an expert in Internal Audit, Project Financing and MIS Reporting and handling the teamwork. He has completed his Chartered Accountancy in 2006 and CPA (USA) in 2017. He has also worked in Banking Industry for 2.5 years and since 2009 he is doing certification work, accountancy work and internal audits.
          <br><b>CA Membership No.508560 <br>AICPA membership no. 255393948</b></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- //team -->	