<div class="w3layouts-banner-1">
</div>
<!-- //banner -->
<!-- services -->
<div class="banner-bottom">
<div class="container">
  <div class="w3ls-heading">
    <h2 class="h-two">Our Special Services</h2>
    <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
  </div>
  <div class="w3ls_banner_bottom_grids">
    <div class="col-md-4 agileits_services_grid">
      <h3>ornare aliquet</h3>
      <p>Vivamus hendrerit non mauris eget consectetur. Sed placerat metus vitae nisi 
        porttitor tristique. Sed iaculis dolor posuere posuere tincidunt.</p>
      <div class="w3_agile_services_grid1">
        <img src="images/g7.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <div class="w3layouts_more">
        <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-md-4 agileits_services_grid">
      <h3>hendrerit mauris</h3>
      <p>Vivamus hendrerit non mauris eget consectetur. Sed placerat metus vitae nisi 
        porttitor tristique. Sed iaculis dolor posuere posuere tincidunt.</p>
      <div class="w3_agile_services_grid1">
        <img src="images/g8.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <div class="w3layouts_more">
        <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-md-4 agileits_services_grid">
      <h3>iaculis dolor</h3>
      <p>Vivamus hendrerit non mauris eget consectetur. Sed placerat metus vitae nisi 
        porttitor tristique. Sed iaculis dolor posuere posuere tincidunt.</p>
      <div class="w3_agile_services_grid1">
        <img src="images/g9.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <div class="w3layouts_more">
        <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
</div>
<!-- //services -->	
<!-- offer -->
<div class="offer">
<div class="container">
  <div class="w3ls_banner_bottom_grids">
    <div class="col-md-4 agile_offer_grid">
      <div class="agileits_w3layouts_offer_grid">
        <div class="agile_offer_grid_pos">
          <p>01.</p>
        </div>
      </div>
      <div class="wthree_offer_grid1">
        <h4>lobortis sem </h4>
        <p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
          id consequat eros iaculis quis.</p>
      </div>
    </div>
    <div class="col-md-4 agile_offer_grid">
      <div class="agileits_w3layouts_offer_grid">
        <div class="agile_offer_grid_pos">
          <p>02.</p>
        </div>
      </div>
      <div class="wthree_offer_grid1">
        <h4>blandit lorem </h4>
        <p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
          id consequat eros iaculis quis.</p>
      </div>
    </div>
    <div class="col-md-4 agile_offer_grid">
      <div class="agileits_w3layouts_offer_grid">
        <div class="agile_offer_grid_pos">
          <p>03.</p>
        </div>
      </div>
      <div class="wthree_offer_grid1">
        <h4>consequat eros </h4>
        <p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
          id consequat eros iaculis quis.</p>
      </div>
    </div>
    
    <div class="clearfix"> </div>
  </div>
</div>
</div>
<!-- //offer -->
<!-- offer-bottom -->
<div class="banner-bottom">
<div class="container">

  <div class="col-md-4 w3l_services_footer_top_left">
    <img src="images/s1.jpg" alt=" " class="img-responsive" />
  </div>
  <div class="col-md-8 w3l_services_footer_top_right">
    <div class="w3l_services_footer_top_right_main">
      <div class="w3l_services_footer_top_right_main_l">
        <h3>20 July 2017</h3>
      </div>
      <div class="w3l_services_footer_top_right_main_l1">	
        <div class="w3ls_service_icon">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
      </div>
      <div class="w3l_services_footer_top_right_main_r">
        <a href="#" data-toggle="modal" data-target="#myModal">Maximus pretium </a>
        <p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
          Duis elementum turpis ultricies, finibus leo.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l_services_footer_top_right_main">
      <div class="w3l_services_footer_top_right_main_l">
        <h3>25 July 2017</h3>
      </div>
      <div class="w3l_services_footer_top_right_main_l1">	
        <div class="w3ls_service_icon">
          <i class="fa fa-map" aria-hidden="true"></i>
        </div>
      </div>
      <div class="w3l_services_footer_top_right_main_r">
        <a href="#" data-toggle="modal" data-target="#myModal">Aliquam faucibus </a>
        <p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
          Duis elementum turpis ultricies, finibus leo.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l_services_footer_top_right_main">
      <div class="w3l_services_footer_top_right_main_l">
        <h3>30 July 2017</h3>
      </div>
      <div class="w3l_services_footer_top_right_main_l1">	
        <div class="w3ls_service_icon">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </div>
      </div>
      <div class="w3l_services_footer_top_right_main_r">
        <a href="#" data-toggle="modal" data-target="#myModal">Vitae faucibus</a>
        <p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
          Duis elementum turpis ultricies, finibus leo.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
</div>