<div class="w3layouts-banner-1" style="position: relative;">
    <div class="w3ls-heading" style="position:absolute;top:50%;left:50%;transform: translate(-50%,10%);">
        <h2 class="h-two">Our Special Services</h2>
        <!-- <p class="sub two"></p> -->
      </div>
</div>
<!-- //banner -->
<!-- services -->
<div class="banner-bottom">
<div class="container">

  <div class="w3ls_banner_bottom_grids">
    <div class="col-md-4 agileits_services_grid">
      <h3>Tax Consultancy for Indian and US Clients</h3>      
      <p style="height:20vh;" class="h-two" align="justify" >Filing of Tax Returns, Year end Tax Planning, Tax Refunds, Tax Planning & Savings, International Clients getting benefits of Double Taxation Avoidance Agreements, US IRS Filings, Transfer Pricing Solutions</p>      
      <div class="w3_agile_services_grid1">
        <img src="assets/images/g7.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <!-- <div class="w3layouts_more">
        <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div> -->
    </div>
    <div class="col-md-4 agileits_services_grid">
      <h3>Outsourcing of Accounting and Related Services</h3>
      <p style="height:20vh;" class="h-two" align="justify">Final Accounts of a Single or Business Concern, Full accounts of a client, any single part of accounting, Reconciliation Statements, Debtors and Creditors Management, Online technical support for International Accounting</p>
      <div class="w3_agile_services_grid1">
        <img src="assets/images/g8.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <!-- <div class="w3layouts_more">
          <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div> -->
    </div>
    <div class="col-md-4 agileits_services_grid">
      <h3>Payroll Processing and MIS Reporting</h3>
      <p style="height:20vh;">Payroll Accounting is the function of calculating and distributing wages, salaries, and withholdings to employees and certain agencies. Accounting for Payroll is generally done through different documents such as time sheets, paychecks, and a payroll ledger.</p>
      <div class="w3_agile_services_grid1">
        <img src="assets/images/g9.jpg" alt=" " class="img-responsive" />
        <div class="w3_blur"></div>
      </div>
      <!-- <div class="w3layouts_more">
          <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div> -->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
</div>
<!-- //services -->	
<!-- offer -->
<!-- <div class="offer">
<div class="container">
  <div class="w3ls_banner_bottom_grids">  
    
    <div class="clearfix"> </div>
  </div>
</div>
</div> -->
<!-- //offer -->
<!-- offer-bottom -->
<div class="banner-bottom">
<div class="container">

    <div class="w3ls_banner_bottom_grids">
        <div class="col-md-4 agileits_services_grid">
          <h3>Project Management (For US clients in Indian system)</h3>      
          <p style="height:20vh;" class="h-two" align="justify" >Financial Management solutions, Project Financing, Start Up projects, Clients seeking single window advice to set up projects</p>      
          <div class="w3_agile_services_grid1">
            <img src="assets/images/g6.jpg" alt=" " class="img-responsive" />
            <div class="w3_blur"></div>
          </div>
          <!-- <div class="w3layouts_more">
            <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div> -->
        </div>
        <div class="col-md-4 agileits_services_grid">
          <h3>Formation of Companies, Trusts, Partnership Firms </h3>
          <p style="height:20vh;" class="h-two" align="justify">Formation of Companies, Trusts, Registered Partnership Firms and dealing with Trademarks and Other Regulatory registrations <b>(In India only)</b> </p>
          <div class="w3_agile_services_grid1">
            <img src="assets/images/g3.jpg" alt=" " class="img-responsive" />
            <div class="w3_blur"></div>
          </div>
          <!-- <div class="w3layouts_more">
              <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div> -->
        </div>
        <div class="col-md-4 agileits_services_grid">
          <h3>GST consultancy(For Indian system only)</h3>
          <p style="height:20vh;">Regsitration, Filing of GST Returns, Annual Filings and Data Reconciliation Statements</p>
          <div class="w3_agile_services_grid1">
            <img src="assets/images/g4.jpg" alt=" " class="img-responsive" />
            <div class="w3_blur"></div>
          </div>
          <!-- <div class="w3layouts_more">
              <a routerLink="../contact">Contact Us<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div> -->
        </div>
        <div class="clearfix"> </div>
      </div>  
</div>
</div>