<div class="w3layouts-banner">				
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="w3ls_banner_section">
            <div class="container">
              <h3>We Provide Proper Audit <span>Solutions</span></h3>
              <p>Optimize audit costs using our years of experience</p>
              <div class="more-button">
                <a href="#" data-toggle="modal" data-target="#myModal">Read more</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="w3ls_banner_section">
            <div class="container">
              <h3>We Provide Proper Audit <span>Solutions</span></h3>
              <p>Optimize audit costs using our years of experience</p>
              <div class="more-button">
                <a href="#" data-toggle="modal" data-target="#myModal">Read more</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="w3ls_banner_section">
            <div class="container">
              <h3>We Provide Proper Audit <span>Solutions</span></h3>
              <p>Optimize audit costs using our years of experience</p>
              <div class="more-button">
                <a href="#" data-toggle="modal" data-target="#myModal">Read more</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
</section>
</div>

<div class="services">
  <div class="container">
  <div class="w3ls-heading">
      <h2 class="h-two">Welcome To Audit</h2>
      <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
    </div>
    <div class="w3layouts-grids">
      <div class="services-right-grids">
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Internal Audit</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-calculator" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Accounting</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
          <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Audit</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="services-right-grids">
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
          <i class="fa fa-life-ring" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Support</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Review</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="col-sm-4 services-right-grid">
          <div class="services-icon hvr-radial-in">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <div class="services-icon-info">
            <h5>Attest Services</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-bottom-agileits" id="about">
			
  <div class="col-md-5 w3l_banner_bottom_right">
    <img src="assets/images/ab.jpg" alt=" " class="img-responsive" />
  </div>
  <div class="col-md-7 w3l_banner_bottom_left">
    <h3>Lorem ipsum dolor sit amet, consectetur . </h3>
    <p>Nullam at turpis vel sapien aliquam feugiat vitae vitae mi. 
      Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo 
      velit et quam. Phasellus viverra et quam efficitur rhoncus sollicitudin..
      <span>Donec porttitor neque sed mauris sagittis, a auctor enim porta. 
        Sed tristique sollicitudin orci. Vivamus vulputate nunc id nulla elementum,nec vehicula ipsum ullamcorper.</span></p>
  </div>
  <div class="clearfix"></div>
</div>

<div class="team">
  <div class="container">
    <div class="w3ls-heading">
      <h3 class="h-two">Our Team</h3>
      <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
    </div>
    <div class="agile-team-grids">
      <div class="col-sm-3 team-grid">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <img src="assets/images/t1.jpg" alt="" />
            </div>
            <div class="back">
              <h4>Peter Parker</h4>
              <p>Vestibulum </p>
              <div class="w3l-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 team-grid">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <img src="assets/images/t2.jpg" alt="" />
            </div>
            <div class="back">
              <h4>Steven Wilson</h4>
              <p>Quisque vitae</p>
              <div class="w3l-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 team-grid">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <img src="assets/images/t3.jpg" alt="" />
            </div>
            <div class="back">
              <h4>Johan Botha</h4>
              <p>Nulla molestie</p>
              <div class="w3l-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 team-grid">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <img src="assets/images/t4.jpg" alt="" />
            </div>
            <div class="back">
              <h4>Mary Jane</h4>
              <p>Aliquam non</p>
              <div class="w3l-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //team -->	
<!-- testimonials -->
<div class="col-md-6 testimonials">
<h3 class="w3ls_head">Testimonials</h3>
<div class="testi-w3agileinfo"> 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src="assets/images/1.png" alt=""/></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="assets/images/3.png" alt=""/></a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="assets/images/2.png" alt=""/></a></li>
  </ul> 
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="testi">
      <h5>FILAN FISTEKU</h5>
      <p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <h5>ULLAMCORPER FILAN </h5>
      <p>Scelerisque ac augue id Donec libero dui, , tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages"> 
      <h5>SCELERISQUE AUGUE</h5>
      <p>Nam ultrices lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapientristique Donec.</p>
    </div>
  </div> 
</div>
</div>
<div class="col-md-6 testimonials-left-w3">
</div>
<div class="clearfix"></div>