<div class="header" id="top">
  <div class="header-top">
    <div class="container">
      <ul class="head-left">
        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+123456789</li>
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>05-mirus Road,Dlowa GSRT</li>
      </ul>
      <div class="head-right">
      <ul class="social-ic">
        <li><a href="#"><i></i></a></li>
        <li><a href="#"><i class="ic"></i></a></li>
        <li><a href="#"><i class="ic1"></i></a></li>
        <li><a href="#"><i class="ic2"></i></a></li>
      </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  
  <!---->
    <div class="container">
  <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
               <div class="navbar-brand logo ">
                <h1 class="animated wow pulse" data-wow-delay=".5s">
                <a href="index.html">Machinery </a></h1>
              </div>
  <div class="clearfix"></div>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil links" id="bs-example-navbar-collapse-1">
            <div class="top-nav">
      <a routerLink="home" class="demo-4">
        <span>
          <span>Home</span>
          <span>Home</span>
          <span>&nbsp;</span>
        </span>
      </a>
  
      <a href="about.html" class="demo-4">
        <span>
          <span>About</span>
          <span>About</span>
          <span></span>
        </span>
      </a>
    <a href="gallery.html" class="demo-4">
        <span>
          <span>Gallery</span>
          <span>Gallery</span>
          <span></span>
        </span>
      </a>
        <a href="codes.html" class="demo-4">
        <span>
          <span>Codes</span>
          <span>Codes</span>
          <span></span>
        </span>
      </a>
  
  
      <a href="contact.html" class="demo-4">
        <span>
          <span>Contact</span>
          <span>Contact</span>
          <span></span>
        </span>
      </a>
  
    </div>
            </div><!-- /.navbar-collapse -->
          </nav>
          </div>
  </div>