<!-- /navigation -->
<div class="w3layouts-banner-1" style="position: relative;">
    <div class="w3ls-heading" style="position:absolute;top:50%;left:50%;transform: translate(-50%,10%);">
        <h2 class="h-two">Contact Us</h2>
        <!-- <p class="sub two"></p> -->
      </div>
</div>
<!-- //banner -->
<!-- contact -->		
<div class="contact"> 
<div class="container">
  <div class="contact-agileinfo">
    <div class="col-md-7 contact-right"> 
      <form action="#" method="post">  
        <input type="text" name="Name" placeholder="Name" required="">
        <input type="text" class="email" name="Email" placeholder="Email" required="">
        <input type="text" name="Phone no" placeholder="Phone" required="">
        <textarea name="Message" placeholder="Message" required=""></textarea>
        <input type="submit" value="SUBMIT" > 
      </form>
    </div>
    <div class="col-md-5 contact-left">
      <div class="address">
        <h5>Address:</h5>
        <p><i class="glyphicon glyphicon-home"></i> Gaurav And Nikhil Consultants P. Ltd., #1, Second Floor, </p>
        <p> J.K. Towers, Mall Road, Amritsar-143001 PUNJAB (INDIA) </p>
      </div>
      <div class="address address-mdl">
        <h5>Phones:</h5>
        <p><i class="glyphicon glyphicon-earphone"></i> +91-98143-10561</p>
        <p><i class="glyphicon glyphicon-phone"></i> +91-99889-23297</p>
      </div>
      <div class="address">
        <h5>Email:</h5>
        <p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@gauravandnikhilconsultants.com">info@gauravandnikhilconsultants.com</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div> 
</div>
<div class="agileits-w3layouts-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13586.849831495569!2d74.8687306!3d31.6417224!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3802d3a46ca994f6!2sCA+GAURAV+AGGARWAL!5e0!3m2!1sen!2sin!4v1531388267222" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>