<!-- /navigation -->
<div class="w3layouts-banner-1" style="position: relative;">
    <div class="w3ls-heading" style="position:absolute;top:50%;left:50%;transform: translate(-50%,10%);">
        <h2 class="h-two">Useful Links</h2>
        <!-- <p class="sub two"></p> -->
      </div>
</div>
<div class="team">
  <div class="container">
    <div class="w3ls-heading">
      <p class="sub two">US Related</p>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>Website Address</th>
              <th>Deparment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a target="_blank" href="www.irs.gov">www.irs.gov</a></td>
              <td>US Internal Revenue Service (IRS)</td>
            </tr>
            <tr>
              <td><a target="_blank" href="www.gao.gov">www.gao.gov</a></td>
              <td>US General Accounting Office (US GAO)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.ustreas.gov/">www.ustreas.gov</a></td>
              <td>The United States Department of Treasury (Department of Treasury)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.ssa.gov">www.ssa.gov</a></td>
              <td>US Social Security Administration (Social Security)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.uscis.gov">www.uscis.gov</a></td>
              <td>US Citizen and Immigration Services (USCIS)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.aicpa.org">www.aicpa.org</a></td>
              <td>American Institute of Certified Public Accountants (AICPA)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.theiia.org">www.theiia.org</a></td>
              <td>The Institute of Internal Auditors (IIA)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.icaew.co.uk">www.icaew.co.uk</a></td>
              <td>The Institute of Chartered Accountants of England and Wales (ICAEW)</td>    
            </tr>
            <tr>
              <td><a target="_blank" href="www.isaca.org">www.isaca.org</a></td>
              <td>Information Systems Audit and Control Association (ISACA)</td>          
            </tr>
            <tr>
              <td><a target="_blank" href="www.cica.ca">www.cica.ca</a></td>
              <td>Canadian Institute of Chartered Accountants (CICA)</td>          
            </tr>
            <tr>
              <td><a target="_blank" href="www.isaca.org">www.isaca.org</a></td>
              <td>Universal Currency Convertor (UCC)</td>
            </tr>
          </tbody>      
      </table>

      <p class="sub two">Indian Ministries, Government Departments & Other Statutory Bodies</p>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Website Address</th>
              <th>Deparment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a target="_blank" href="www.finmin.nic.in">www.finmin.nic.in</a></td>
              <td>Ministry of Finance</td>
            </tr>
            <tr>
              <td><a target="_blank" href="http://commerce.nic.in">http://commerce.nic.in</a></td>
              <td>Ministry of Commerce</td>      
            </tr>

            <tr>
              <td><a target="_blank" href="www.rbi.org.in">www.rbi.org.in</a></td>
              <td>Reserve Bank of India (RBI)</td>
            </tr>

            <tr>
              <td><a target="_blank" href="www.cbec.gov.in">www.cbec.gov.in</a></td>
              <td>Central Board of Excise and Customs</td>      
            </tr>

            <tr>      
              <td><a target="_blank" href="www.incometaxindia.gov.in">www.incometaxindia.gov.in</a></td>
              <td>Department of Income Tax (ITD)</td>
            </tr>

            <tr>
              <td><a target="_blank" href="www.mca.gov.in">www.mca.gov.in</a></td>
              <td>Department of Company Affairs (DCA)</td>      
            </tr>
        
            <tr>
              <td><a target="_blank" href="www.nseindia.com">www.nseindia.com</a></td>
              <td>National Stock Exchange (NSE)</td>
            </tr>

            <tr>
              <td><a target="_blank" href="www.cag.gov.in">www.cag.gov.in</a></td>
              <td>Comptroller & Auditor General of India</td>      
            </tr>

            <tr>            
              <td><a target="_blank" href="www.incometaxindiaefiling.gov.in">www.incometaxindiaefiling.gov.in</a></td>
              <td>Efiling site of Department of Income Tax (ITD)</td>
            </tr>

            <tr>
              <td><a target="_blank" href="http://dgft.gov.in/">http://dgft.gov.in/</a></td>
              <td>Directorate General of Foreign Trade (DGFT)</td>            
            </tr>

            <tr>
              <td><a target="_blank" href="www.icai.org">www.icai.org</a></td>
              <td>The Institute of Chartered Account of India (ICAI)</td>                  
            </tr>

            <tr>
              <td><a target="_blank" href="www.icsi.edu">www.icsi.edu</a></td>
              <td>The Institute of Company Secretaries of India (ICSI)</td>                        
            </tr>
          </tbody>    
        </table>        
    </div>
    </div>
  </div>